<h1>My tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li><% if task.completed == true %>
  <input type="checkbox" id="task" name="completed" checked>
  <% else %>
  <input type="checkbox" id="task" name="completed">
  <% end %>
<%= link_to task.title, task_path(task) %>
- <%= link_to "Supprimer", task_path(task), method: :delete, data: { confirm: "Delete #{task.title} ?" } %>
</li>
  <% end %>
</ul>

<p><%= link_to 'Add a new task', new_task_path %></p>
